.heading{
width: 100%;
margin: 0px;
font-size: 23px;
}
.note{
    color: #000000;
    font-size: 15px;
}
.play_btn{
    width: 130px;
    font-size:25px;
}

.image {
    width: 200px;
    border-radius: 100px;
}
#speed ,#volume{
    font-size: 23px;
    margin: 15px;
}

.div_speed{
    float: left;
}
.div_volume{
    float: right;
}

canvas{
    border:5px solid white;
    border-radius:20px;
}